<!DOCTYPE html>
<html>
  <head>
    <title>Fail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 style="color: rgb(175, 0, 0)">Fail</h1>
  </body>
  <main></main>
</html>
