<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <main>
    <a href="/users/signup"><button>Signup</button></a>
    <a href="/auth/github"><button>Signup Using GitHub</button></a>
    <a href="/auth/google"><button>Signup Using Google</button></a>
  </main>
</html>
