<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 style="color: rgb(4, 197, 133)">Success</h1>
  </body>
  <main></main>
</html>
